/*------------------------------------------------------------------
[Global]
*/
@import '~vuetify/src/stylus/main.styl'

body
  font-family: $body-font-family
  font-size: $font-size-root
  font-weight: $font-weights.regular
  line-height: $line-height-root

h1
  font-size: 48px
  font-weight: $font-weights.thin
  letter-spacing: -1.5

h2
  font-size: 36px
  font-weight: $font-weights.light
  letter-spacing: -0.5

h3
  font-size: 24px
  font-weight: $font-weights.light
  letter-spacing: normal

h4
  font-size: 20px
  font-weight: $font-weights.light
  letter-spacing: normal

h5
  font-size: 16px
  font-weight: $font-weights.regular
  letter-spacing: normal

